<section class="hero-content gradient-themehero">
  <interactive-thesis class="abs-full" style="z-index: 1; opacity: .7">
  </interactive-thesis>
  <div class="container" style="z-index: 0">
    <div class="row justify-content-center align-items-center py-5">
      <div class="col-lg-8">
        <article class="text-center">
          <h1 class="mb-4 h1-responsive pt-5 text-white">Hi! I'm josh,</h1>
          <p class="mb-5 text-white">a full-stack developer based in sunny Denver, CO.
             I specialize in fully custom easy-to-use web applications based on your ideas.
             Take a look at the latest projects in my portfolio or check out my code workshop.</p>
          <h4 class="funky-town color-theme dense h4-responsive mx-3">Get in touch to start building!</h4>
        </article>
      </div>
    </div>
    <a class="btn-floating btn-lg onwards-button waves-dark z-depth-2" mdbRippleRadius pageScroll [pageScrollDuration]="500" href="#mission-section"><i class="fa fa-chevron-down"></i></a>
  </div>
</section>
<section class="ribbons">
  <div class="ribbon background-themegen antiskew-2 z-depth-2"></div>
  <div class="ribbon gradient-themecontrast skew-3 z-depth-1"></div>
</section>
