<section class="container py-5 biography-content">
  <div class="row">
    <div class="col-lg-4 col-md-5 px-4 d-flex justify-content-center align-items-start mb-5">
      <figure class="rounded-circle z-depth-2 mb-3">
      </figure>
    </div>
    <div class="col-lg-8 col-md-7">
      <article class="">
        <h4 class="funky-town color-theme regular mb-4">My story</h4>
        <p class="text-white mb-4 n">
          Web development started out as a hobby for me after building a few computers and wanting to dive deeper.
          It has consumed my life ever since - in a good way! I have over 4 years of experience designing and deploying websites from scratch.
          Right now I specialize in front-end applications written in <a href="https://angular.io/" target="_blank" class="floating-link">Angular</a>
          & Typescript,  powered by <a href="https://laravel.com/" target="_blank" class="floating-link">Laravel</a> & PHP on the back.
        </p>
        <div class="md-cover mb-5">
          <p class="text-white">
            I’m also a trained musician and audio engineer, so when I’m not banging my head against the keyboard I’m recording / playing guitar or out at a show.
          </p>
          <a class="btn btn-primary background-themelight waves-effect waves-light" target="_blank" href="javascript:;" mdbRippleRadius>Download my resume</a>
        </div>
      </article>
    </div>
  </div>
</section>
