.almost-hero {
  margin-bottom: 4rem !important;
  h2 {
    margin-bottom: .8rem;
  }
}

.project-icon {
  overflow: visible !important;
  img {
    opacity: .1;
    left: 20%;
  }
}

.skill-item {
  width: auto;
  border-radius: 0.2rem !important;
  img {
    height: 20px;
    margin-right: 8px;
    width: auto;
  }
}
