:host {
  display: block;
  position: relative;
  z-index: 0;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0 -200px 0 #eaedef, 0 20px 0 #eaedef;
    background: #eaedef;
  }
}

.subheader {
    line-height: 2rem;
}

.features-small {
  p {
   line-height: 1.7rem;
  }
  img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  a {
    background: red;
  }
}
.service-icon {
  width: 80% !important;
  filter: drop-shadow(0 2px 2px rgba(0,0,0,0.2));
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}
