<div class="md-form" [formGroup]="group">
  <i class="grey-text fa fa-{{ template.icon }} prefix" *ngIf="template.icon"></i>
  <input mdbActive
    *ngIf="template.mask == null"
    class="form-control"
    type="{{ template.type ? template.type : 'text'  }}"
    formControlName="{{ template.name }}"
    name="{{ template.name }}">
  <input mdbActive
    *ngIf="template.mask != null"
    class="form-control"
    type="{{ template.type ? template.type : 'text'  }}"
    formControlName="{{ template.name }}"
    [textMask]="template.textMask"
    name="{{ template.name }}">
  <label for="{{ template.name }}" [ngClass]="{invalid: onInputValid(template.name)}"> {{ template.label }}</label>
  <div *ngIf="onInputValid(template.name)" class="error-msg-container" style="height: 1px">
    <small class="text-danger error-msg" *ngFor="let error of group.controls[template.name].errors | formError">
    {{ template.label + error }}
    </small>
  </div>
</div>
