.almost-hero {
  .overlay {
    transition: 1s ease;
    opacity: 1;
  }
  .google-map {
    overflow: hidden;
    #map {
        height: calc(100% + 30px);
    }
  }
  .container, .row {
    height: 100%;
    p {
      font-size: 1.3rem;
    }
  }
}

.map-controls {
  position: absolute;
  bottom: 0;
  left: 15px;
  mat-checkbox {

  }
}

.direct-info {
  img {
    opacity: .2;
  }
  p {
    font-size: 14px;
  }
  h5 {
    font-size: 18px;
  }
}

.flex-border {
  transition: 0s !important;
  border-right: 1px solid #ccc;
  border-bottom: 0px solid #ccc;
}

.flex-border:last-of-type {
  border-right: 0px solid #ccc;
}

.map-search {
  background: rgba(0,0,0,0.3);
  padding: 10px;
  font-size: 20px;
  color: white;
  text-align: center;
}

.contact-interactive {
  position: relative;
  figure {
    transition: .5s ease;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .content {
    opacity: 0;
    left: -100%;
    transform: translateX(0%);
  }
  .search {
    opacity: 0;
    left: 100%;
    transform: translateX(0%);
    input {
      padding-left: 80px;
      &:focus {
        border-bottom: 1px solid #0aa4b5;
        box-shadow: 0 1px 0 0 #0aa4b5;
      }
    }
    .results {
      background: rgba(0,0,0,0.5);
      margin-top: -6rem;
      .map-search {
        background: rgba(0,0,0,0.5);
      }
      .map-search.active {
        background: linear-gradient(90deg, #02939e, #006591) !important;
        i {
          color: white !important;
        }
      }
    }
  }
  figure.active {
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
  }
}

#map {
  z-index: 1;
}

.too-big {
  transition: .8s ease;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background: white;
  background-image: url('/assets/images/jpg/google_maps_toobig.jpg');
  z-index: 2;
  left: 0;
  top: 0;
  position: absolute;
}

 .too-big.active {
   opacity: 1;
 }

 .contact-form {
   margin-bottom: 5rem !important;
 }

@media screen and (max-width: 1200px){
  .bounce.container {
    max-width: 100%;
  }
  .search p br {
    display: none !important;
  }
}


@media screen and (max-width: 768px){
  .almost-hero {
    .container, .row {
      p {
        font-size: 1.1rem;
      }
    }
  }

  .bounce.container  {
      max-width: 540px;
  }

  .flex-border {
    border-right: 0px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  .social-links {
    flex-direction: row !important;
    justify-content: center;
    margin: 1.5rem 0 0;
    a {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  .contact-submit {
    width: 80%;
  }
  .contact-form {
    margin-bottom: 0rem !important;
  }
}

@media screen and (max-width: 540px){

    .search {
      input {
        padding-left: 1rem !important;
        text-align: left;
      }
      .results {
        margin-top: -8.5rem !important;
      }

    }

}
