<section class="row signup justify-content-center py-5 ">
<div class="col-lg-5 col-md-8 py-5">
  <div class="card mb-5">
    <div class="card-body p-5">
      <h3 class="h3-responsive grey-text text-center"><i class="fa grey-text fa-lock mr-2"></i>Signup</h3>
      <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <!--Body-->
        <div class="md-form">
          <i class="fa fa-envelope prefix grey-text"></i>
            <input type="email" class="form-control" name="email" mdbActive required ngModel>
          <label for="defaultForm-email">Your email</label>
        </div>

        <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" class="form-control" name="password" mdbActive required ngModel>
          <label for="passworddefaultForm-pass">Your password</label>
        </div>

        <div class="text-center">
          <button class="btn btn-primary waves-light" mdbRippleRadius [disabled]="!f.valid">Create account</button>
        </div>
      </form>
    </div>
  </div>
</div>
</section>
