<article class="container px-3">
  <div class="row" style="position: relative">
    <div class="edit-controls" *ngIf="adminService.editMode" >
      <a href="javascript:;" class="edit-button text-danger" (click)="showEditPopup()">
        <i class="fa fa-pencil-square-o white-text"></i>
      </a>
      <a href="javascript:;" class="edit-button text-warning" (click)="showDestroyPopup()">
        <i class="fa fa-times white-text"></i>
      </a>
    </div>
    <div class="col-lg-5 col-md-6 pr-4 mb-3">
      <a href="javascript:;"
      [routerLink]="['project', project.client.replace(' ', '-').toLowerCase()]"
      [ngClass]="{'active': hoverStatus}"
      style="position: relative; display: block"
      (mouseenter)="hoverStatus = true"
      (mouseleave)="hoverStatus = false">
        <div
        class="white z-depth-2 rounded image"
        [ngStyle]="{'background-image': 'url(' + imagePath + project.id + '.png)' }">
        </div>
        <div class="overlay abs-full d-flex flex-column justify-content-center align-items-center">
          <h4 class="funky-town text-white">View project</h4>
        </div>
      </a>
    </div>
    <div class="content col-lg-7 col-md-6 d-flex flex-column justify-content-between">
      <div class="pt-3">
        <h4 class="funky-town mb-3 regular color-themelight">{{ project.title }}</h4>
        <p class="text-white mb-5">{{ project.introduction }}</p>
      </div>
      <div class="destinctions d-flex flex-row justify-content-between align-items-center py-3">
        <h5 class="text-white">
          {{ project.skills[0].name | titlecase}} <span *ngIf="project.skills.length > 1">/ {{ project.skills[1].name | titlecase}}</span>
        </h5>
        <div class="d-flex flex-row align-items-center">
          <figure *ngFor="let service of project.services; let i = index"
            [ngClass]="{'d-flex flex-row m-0 mr-1 p-1 rounded': true, active: serviceDetail == i}"
            [ngStyle]="{'width.px': serviceDetail == i ? serviceWidth : 30 }"
            (mouseenter)="showService(i)"
            (mouseleave)="hideService(i)">
            <img src="http://127.0.0.1:8000/storage/services/icons/{{ service.id }}.svg" alt="" class="service-icon">
            <small class="mx-2 text-white regular" id="service-{{ i }}">{{ service.name }}</small>
          </figure>
        </div>
      </div>
    </div>
  </div>
</article>
<ng-content></ng-content>
