<section class="container py-3 mission-content" id="mission-section">
  <div class="row mt-5 mb-0 justify-content-center">
    <!-- Design card -->
    <div class="col-lg-4 col-md-6 order-1">
      <figure class="card mb-5 rounded-0 p-0">
        <div class="card-body text-white px-4 z-depth-2">
            <header class="d-flex flex-row justify-content-start align-content-center my-3 mx-3">
              <img src="/assets/images/vector/mission_design.svg" alt="/assets/images/png/mission_design.png" class="pr-1">
              <h4 class="card-title regular funky-town h4-responsive my-0 ml-4 color-themegen">Flexible design</h4>
            </header>
            <p class="card-text text-white mx-3">A good site should work on your desktop or in your pocket. I make sure your business is mobile friendly.</p>
        </div>
      </figure>
    </div>
    <!-- SPA card -->
    <div class="col-lg-4 col-md-6 order-lg-2 order-2 order-md-3">
      <figure class="card focus mb-5 rounded-0 p-0">
        <div class="card-body text-white px-4 z-depth-2">
            <header class="d-flex flex-row justify-content-start align-content-center my-3 mx-3">
              <img src="/assets/images/vector/mission_spa.svg" alt="/assets/images/png/mission_spa.png" class="pr-1">
              <h4 class="card-title regular funky-town h4-responsive my-0 ml-4 color-accent">Reactive</h4>
            </header>
            <p class="card-text text-white mx-3">Easy to use and clear how to get there. My applications are fast and built to scale to your userbase.  </p>
        </div>
      </figure>
    </div>
    <!-- Data card -->
    <div class="col-lg-4 col-md-6 order-lg-3 order-3 order-md-2">
      <figure class="card mb-5 rounded-0 p-0">
        <div class="card-body text-white px-4 z-depth-2">
            <header class="d-flex flex-row justify-content-start align-content-center my-3 mx-3">
              <img src="/assets/images/vector/mission_data.svg" alt="/assets/images/png/mission_data.png" class="pr-1">
              <h4 class="card-title regular funky-town h4-responsive my-0 ml-4 color-themegen">Data integrity</h4>
            </header>
            <p class="card-text text-white mx-3">My top priority is keeping your data secure and delivered to your users fingertips without delay.</p>
        </div>
      </figure>
    </div>
  </div>
</section>
