<div class="faux-navbar"></div>
<section class="row signup justify-content-center py-5 ">
<div class="col-lg-4 col-md-7 py-5">
  <div class="card mb-5 z-depth-2">
    <div class="card-body p-5">
      <ng-container *ngIf="adminService.isLoggedIn; else loginForm">
        <h3 class="h3-responsive text-center text-grey-2 light  mb-3">Well, hello again, me! Nice to see ya</h3>
        <div class="d-flex flex-row justify-content-center">
          <button type="button" class="btn gradient-focus mr-2" routerLink="/">GO HOME</button>
          <button type="button" class="btn btn-warning" (click)="attemptLogout()">LOG ME OUT</button>
        </div>
      </ng-container>
      <ng-template #loginForm>
        <div class="abs-full mask-white" *ngIf="attempting">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <h3 class="h3-responsive text-center text-grey-2 light  mb-1">Admin login</h3>
        <p class="text-grey-3 text-center mb-5">If you're not me, try <a routerLink="/" class="floating-link">going home</a> instead. </p>
        <dynamic-form
          [template]="formTemplate"
          (submitData)="attemptLogin($event)">
        </dynamic-form>
      </ng-template>
    </div>
  </div>
</div>
</section>
